{{define "leaderboard"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#131520" />
    <meta name="description" content="Website for Exun Sudocrypt 2025" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>Sudocrypt | Leaderboard</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="/components/leaderboard/leaderboard.css">
    <link rel="stylesheet" href="/components/main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"
        integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

    

</head>

<body>
    <div>
        {{template "header" .}}
        <div class="leaderboard-container" style="min-height: 37vw;">
            <h1 class="leaderboard-title">Leaderboard</h1>
            <div class="leaderboard-header">
                <div class="leaderboard-columns">
                    <p class="rank-label">Rank</p>
                    <p class="name-label">Name</p>
                </div>
                <div class="points-col">
                    <p class="points-label">Points</p>
                </div>
            </div>
            <div class="leaderboard-list">{{.LeaderboardHTML}}</div>
        </div>
        {{template "footer" .}}
    </div>
</body>

<script>
    function dialog(id, selected, state, name) {
        let modal = document.getElementById(`dialog_${selected}_${id}`);
        if (state == "open") {
            document.getElementById("dialog_pfp_"+String(id)).src="https://api.dicebear.com/9.x/big-smile/svg?seed="+name
            modal.showModal();
        }
        if (state == "close") {
            modal.close();
        }
    }
</script>

</html>
{{end}}