<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#131520" />
    <meta name="description" content="Website for Sudocrypt 2025" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>Sudocrypt | Timegate</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="/components/main.css">
    <link rel="stylesheet" href="/components/landing/landing.css">
</head>

<body>

    {{template "header" .}}

    {{template "confetti" .}}

        <div id="random" class="section" style="padding-bottom: 15vw; padding-top: 2vw;">
            <div class="transition-container">
                <div class="inner">
                    {{template "countdown" .}}
                </div>
            </div>
        </div>
        {{template "footer" .}}

</body>

</html>