{{define "play"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#131520" />
    <meta name="description" content="Website for Exun Sudocrypt v15.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>Sudocrypt | Level {{.LevelNum}}</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="/components/play/play.css">
    <link rel="stylesheet" href="/components/main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"
        integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script defer type="module" src="/components/auth/login.js"></script>
    

</head>
{{.SrcHint}}
<body>

    <script>
        function OnLevelTypeChange(event) {
            if (event.target.checked) {
                window.location="/play?type=ctf"
            } else {
                window.location="/play"
            }
        }
        setTimeout(()=>{
            var levelType=new URLSearchParams((new URL(window.location.href)).search).get("type")
            if (levelType=="ctf") {
                var el = document.getElementById("leveltype"); if (el) el.checked=true
            }
        }, 100)
    </script>

    <script>
        var level_Answer_Hash="{level_Answer_Hash}";
    </script>

        <canvas id="canvas" class="page-canvas"></canvas>

    {{template "header" .}}
    {{template "annoucements" .}}
        <div class="center-wrap">
            
            <div class="card">
                <h1 id="level_title" class="title">Level {{.LevelNum}}</h1>

                <div class="toggle-wrapper">
                    <p class="toggle-label">Cryptic</p>
                    <label class="switch">
                        <input id="leveltype" type="checkbox" oninput="OnLevelTypeChange(event)">
                        <span class="slider"></span>
                    </label>
                    <p class="toggle-label">CTF</p>
                </div>

                <div class="markup-wrap">
                    <span id="markup" class="markup"></span>
                </div>

                <div class="input-row">
                    <div class="input-area">
                        <input required placeholder="Enter your answer" type="text" id="messageInput" class="answer-input" />

                        <button id="sendButton" class="send-button" onclick="submit()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 664 663" class="send-icon">
                                <path stroke-linejoin="round" stroke-linecap="round" stroke-width="33.67" stroke="currentColor" d="M646.293 331.888L17.7538 17.6187L155.245 331.888M646.293 331.888L17.753 646.157L155.245 331.888M646.293 331.888L318.735 330.228L155.245 331.888"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        {{template "footer" .}}

    <script>
        var markupHTML = ``
    </script>
    <script defer type="module" src="/components/play/play.js"></script>

    {{template "chat" .}}

</body>

</html>
{{end}}