{{define "landing"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#131520" />
    <meta name="description" content="Website for Sudocrypt v15.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>Sudocrypt | Home</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="/components/main.css">
    <link rel="stylesheet" href="/components/landing/landing.css">
</head>

<body>
    {{template "header" .}}
    
    {{template "confetti" .}}

        <div id="random" class="section">
            <div class="transition-container">
                <div class="inner" padding-bottom: 1rem;>
                    <h4 class="main-title">Sudocrypt <span style="color: #9722e5;">v15.0</span></h4>
                    <div class="wrapper">
                        <div class="intro">
                            <p style="text-align: center;">This is a platform created by <a href="https://exunclan.com/" target="_blank" class="link" style="font-weight: 550;">Exun Clan</a>.</p>
                            <p style="text-align: center;">All participants are recommended to read the <a href="https://exun.co/resources/cryptic" target="_blank" class="link" style="font-weight: 550;">Cryptic Hunt resources</a>.</p>

                            <div class="notice" style="text-align: center;">
                                <p><span class="highlight">Sudocrypt v15.0</span> is back!<br> The technology club of DPS R.K. Puram, <strong>Exun Clan</strong>, is returning with its eagerly anticipated annual <span class="highlight">International Cryptic Hunt</span> x <span class="highlight">Capture the Flag (CTF)</span> event. Sudocrypt is an international online cryptic hunt where participants from around the world compete to solve levels in the least amount of time.
                                    <br><br>
                                    While solving code-breaking, cryptography, and CTF challenges, <span class="highlight">Sudocrypt V15.0</span> introduces a reinvented format with thrilling cash rewards totaling up to $600 USD (50,000 INR).
                                    <br><br>
                                    Sudocrypt V15.0 will be more unique than ever. The 36-hour event will run from <strong>9:00 AM IST on 17th November 2025</strong> to <strong>9:00 PM IST on 18th November 2025</strong>.
                                    </p>
                            </div>
                        </div>
                        <div class="btn">
                            <a href="/auth" class="cta-button">Pre-Register For Sudocrypt v15.0</a>
                        </div>

                        <div class="prizes">
                            <h2 class="prizes-sub">Win Cash Prizes Over</h2>
                            <h1 class="prizes-amount">₹50,000</h1>
                            <div class="prize-card">
                                <div class="prize-row">
                                    <div class="prize-cell">
                                        <p class="small light">1st</p>
                                        <p class="large bold">₹20K</p>
                                    </div>
                                    <div class="prize-cell">
                                        <p class="small light">2nd</p>
                                        <p class="large bold">₹12K</p>
                                    </div>
                                    <div class="prize-cell">
                                        <p class="small light">3rd</p>
                                        <p class="large bold">₹8K</p>
                                    </div>
                                </div>
                                <div class="prize-row">
                                    <div class="prize-cell">
                                        <p class="small light">Top 5</p>
                                        <p class="large bold">₹2K</p>
                                    </div>
                                    <div class="prize-cell">
                                        <p class="small light">Top 15</p>
                                        <p class="large bold">₹400</p>
                                    </div>
                                    <div class="prize-cell">
                                        <p class="small light">Top 50</p>
                                        <p class="large bold">.xyz Domain</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    {{template "countdown" .}}
                </div>
            </div>
        </div>  
        {{template "footer" .}}
</body>

</html>
{{end}}